{
  "$schema": "https://json.schemastore.org/prettierrc",
  "printWidth": 100,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "overrides": [{ "files": "*.json", "options": { "parser": "json" } }],
  "parser": "",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
